<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link type="text/css" rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
      <link type="text/css" rel="stylesheet" href="/stylesheets/css/custom.min.css" />
      <link type="text/css" rel="stylesheet" href="/stylesheets/css/font-awesome.min.css" />
      <link type="text/css" rel="stylesheet" href="/stylesheets/css/ideal-image-slider.css" />
      <link type="text/css" rel="stylesheet" href="/stylesheets/css/ideal-image-slider-default.css" />
      <link type="text/css" rel="stylesheet" href="/stylesheets/css/tag.css" />
      <link type="text/css" rel="stylesheet" href="/stylesheets/css/taggle.css" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Foodbook</a>
            <div class="navbar-collapse collapse" id="navbar-main">
                <div class="col-sm-7 col-md-7">
                    <ul class="nav navbar-nav">
                        <li><a href="timeline">Sharing Board</a></li>
                        <!--<li><a href="">Explore</a></li>-->
                        <li><a href="recipebox">Recipe Box</a></li>
                        <!--<li><a href="">Calender</a></li>-->
                        <li><a href="/shoppingpage">Shopping List</a></li>
                        <li><a href="createpage">Create Your Own Recipe</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3">
                    <form action="/search_recipe" method="post" class="form-horizontal">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" id="search_tag" name="search_tag">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="text-success">{{num_search}} results for #{{search_tag}}</h2>
                    <h4>click on an image to view the Recipe</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
           {% for recipe in recipe_list %}
                <!--<div class="col-lg-3 col-md-3 col-xs-6 thumb">-->
                    <!--<div class="thumbnail">-->
                        <!--<div class="imageAndText">-->
                           <!--<a href="/viewpage?recipe_id={{recipe['Recipe_id'] }}"><img src="{{ recipe['photo_urls'] }}"  class="align-center img-responsive">-->
                           <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-lg-3 col-md-3 col-xs-6 thumb">
                    <div class="thumbnail">
                        <div class="imageAndText">
                            <a href="/viewpage?recipe_id={{recipe['Recipe_id'] }}"><img src="{{ recipe['photo_urls'] }}"  class="align-center img-responsive"></a>
                        </div>
                        <div class="caption">
                            <h3>{{ recipe['Recipe_name'] }}</h3>
                            <p><em>Made By: {{ recipe['Author'] }}</em></p>
                        </div>
                    </div>
                </div>
           {% endfor %}
        </div>
    </div>

    <script src="/stylesheets/jquery-ui-1.11.4/external/jquery/jquery.js" type="text/javascript"></script>
    <script src="/stylesheets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/stylesheets/js/ideal-image-slider.min.js" type="text/javascript"></script>
    <script>
        var slider = new IdealImageSlider.Slider({
            selector: '#slider',
            height: 350,
            width: 900,
        });
        slider.start();
    </script>
  </body>
  <script>
      $(function() {
        var cache = {};
        var keywords = {{ keywords|safe }};
        var GG =  ["ike", "ike2", "DDD"];
        console.log(keywords)
        console.log(GG)
        var cache = {};
        $( "#search_tag" ).autocomplete({
          minLength: 1,
          <!--source: keywords-->
          source: function(request, response) {
            var term = request.term;
            if ( term in cache ) {
              response( cache[ term ] );
              return;
            }
            var results = $.ui.autocomplete.filter(keywords, request.term);
            response(results.slice(0, 20));
        }
        });
      });
   </script>
</html>
{% endautoescape %}